@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?kfvqwz');
    src:  url('../fonts/icomoon.eot?kfvqwz#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?kfvqwz') format('truetype'),
      url('../fonts/icomoon.woff?kfvqwz') format('woff'),
      url('../fonts/icomoon.svg?kfvqwz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-fire:before {
    content: "\e9a9";
  }
  .icon-heart:before {
    content: "\e9da";
  }
  .icon-home:before {
    content: "\e902";
  }
  .icon-menu{
    content: "\e9bd";
  }
  .icon-cog:before{
    content: "\e994";
  }

  
  
  
body{
    font-family: sans-serif;
    margin: 0px;
   
}
.container{
    display: grid;
    grid-template: 80px 1fr 500px/110px 1fr;
    grid-gap: 3px;
    grid-template-areas: "header header header"
                         "sec-menu sec-film sec-film";
    margin: 0px;
    height: 100vh;
    width: 100vw;
}

/*parte superior*/
.hero{
    grid-area: header;
    display: grid;
    /* grid-template-columns: 20% 60% 10% 10%; */
    grid-template-columns: auto 1fr auto auto;
    /* background: red; */
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    
}

.logo{
 
  /* nombre de la animación  */
  animation-name: animationIn;
  /* duracion de la animación */
  animation-duration: 1.3s;
  /* numero de veces que se repite la animación */
  animation-iteration-count: 1;
  /* tiempo de espera para que se ejecute la animación */
  animation-delay: .5s;
  
  /* define la dirección de la animación */
  /* animation-direction: alternate-reverse; */
  animation-timing-function: ease-in-out;
  /* permite definir donde finaliza la animación */
  animation-fill-mode: both;
  opacity: 0;

}


@keyframes animationIn{
  0%{
    transform: translateX(-300px);
    opacity: 0;
    
  }
  50%{
    transform: translate(200px);
    opacity: .7;
  }
  100%{
    transform: translateX(10px);
    opacity: 1;
  }
}

.hero input{
   border: 1px solid rgb(102, 74, 74);
   width: 300px;
   /* padding: 10px; */
   box-sizing: border-box;
   /* text-align: center; */
   padding: 5px;
   border-radius: 5px;
  
}

.img-user{
    width: 60px;
    height: 60px;
    background: #ECECEC;
    border-radius: 50px;
  
}

.img-user:hover{
 cursor: pointer;
  animation-name: animationUser;
  animation-duration: .7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
 
  
}

.img-user img{
    width: 60px;
    height: 60px; 
}


@keyframes animationUser{
  0%{
    transform: rotateY(180deg);
  }
  100%{
    transform: rotateY(0deg);
  }
}




/*Menu izquierdo normal*/
.menu{
  grid-area: sec-menu;
  
  background:#f85f62;
   display: grid;
  grid-template-rows: repeat(3, 130px) 1fr;
  /* justify-content: center; /*aliena horizontal mente* */
  align-items: flex-end; /*envia abajo a ajustes alinea verticalmente*/ 
  height: 100%; 
  padding: 5%;
}

.item-menu{
   text-align: center; 
} 

.icon{
  color: white;
  font-size: 15px;
  transition: font-size 1s ease;
}

.icon:hover{
  font-size: 17px;
}

.item-menu a{
  text-decoration: none;
  color: white;
}



/*seccion principal peliculas*/

.films{
   
  border: 1px solid salmon;
  grid-area: sec-film;
  display: grid;
   /* indicar el # de columnas y filas  */
  grid-template-columns: repeat(3,minmax(300px,1fr));
  grid-template-rows: repeat(3, minmax(200px, 1fr));
  grid-gap: 10px; 
  margin: 0 10px 0;
}

.films.sec-film{
  /* background: red; */
  width: 98%;
  height: 100%;
}
.item-films{
  margin: 5px;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  background: rgb(236, 236, 236)  ;
  position: relative;
}


.item-films img {
  margin: 0px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center left;    
}  


/*mensajes de las peliculas*/
.article-films{ 
  width: 100%; 
  height: 50%;
  background: rgba(200, 240, 228, 0.527);
  position: absolute;
  bottom: 0;
  /* padding-bottom: 20px; */
  color: white;
  /* padding: 1px 10px 20px 10px; */

  animation-name: blockMsnOut;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  /* animation-play-state: paused; */
  
} 

.article-films:hover{
  
  display: inherit;
  animation-name: blockMsnIn;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in;

} 

.mensaje{
  padding-top: inherit;
}

@keyframes blockMsnIn{
  0%{
    color: #f85f62;
    height: 50%;
    
  }

  100%{
    color: #f85f62;
    height: 100%;
    padding-top: 4em;
  }
 
}

@keyframes blockMsnOut{
  0%{
    color: #f85f62;
    height: 100%;
    padding-top: 4em;
    
    
  }

  100%{
    color: #f85f62;
    height: 50%;
  }



}

.mensaje{
  padding-right: 10px;
  padding-bottom: 50px;
}


@media screen and (max-width: 1024px){
.films{
   border: 1px solid yellow;
    /* grid-area: sec-film;
   display: grid;
   /* indicar el # de columnas y filas  */
   grid-template-columns: repeat(2,minmax(180px,1fr));
   grid-template-rows: repeat(5, minmax(180px,1fr));
   grid-gap: 10px; 
   /* height: 100vh;  */
   /* width: 92vw;  */
   /* justify-content: center; */
    
}

.films.sec-film{
  /* background: red; */
  width: 100%;
  height: 100%;
}
.hero{
    grid-area: header;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;  
}

.container{
    display: grid;
    grid-template: 100px 1fr 300px/110px 1fr;
    grid-gap: 3px;
    grid-template-areas: "header header header"
                         "sec-menu sec-film sec-film";
    margin: 0px;
    height: 100vh;
    width: 100vw;
}

.mensaje{
  font-size: 1em;
}


/*Tercer cambio de responsibe*/
@media screen and (max-width: 767px){
  .container{
    display: grid;
    grid-template: 200px 1fr 300px/110px 1fr;
    grid-gap: 3px;
    grid-template-areas: "header header header"
                         "sec-menu sec-film sec-film";
    margin: 0px;
    height: 100vh;
    width: 100vw;
}

/*parte superior*/
.hero{
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* box-sizing: border-box; */
  
}

.hero input{
 border: 1px solid rgb(102, 74, 74);
 width: 300px;
 padding: 10px;
 box-sizing: border-box; 
  text-align: center;
 padding: 5px;
 border-radius: 5px; 

}

.films{
  border: 1px solid green;
  grid-template-columns: repeat(1,minmax(200px,1fr));
  grid-template-rows: repeat(9, minmax(150px,1fr));
  grid-gap: 10px; 
  min-width: 200px;
    
}
.films.sec-film{
  /* background: red; */
  width: 100%;
  height: 100%;
}

.img-user{
  width: 40px;
  height: 40px;
  background: #ECECEC;
  border-radius: 50px;
}

.img-user img{
  width: 40px;
  height: 40px; 
}

